.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#comp-logo {
  font-family: 'Montserrat Subrayada', sans-serif;
}

.home-page {
  background-image: url('../src/images/sobaka-shchenok-fon-9.jpg');
}
